<hr>
<div>
    <div>
        <img src="{{provincia.bandera}}" [alt]="provincia.provincia"> <br><br>

        <h5><b>Nombre: </b>{{provincia.capital}}</h5>
        <p><b>Abreviatura: </b> {{provincia.abreviatura | uppercase}}</p>
        <hr>
        <p><b>Fecha de Autonomia:</b>{{provincia.fechaAutonomia}}</p>
        <p><b>Superficia:</b> {{provincia.superficie}}</p>
        <p><b>Poblacion:</b> {{provincia.poblacion}}</p>
        <p><b>Nro de Departamentos:</b> {{provincia.nroDepartamentos}}</p>

    </div>
    <div><a [routerLink]="['/provincias-argentinas']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
</div>