<table border="1" style="border-collapse: collapse; width: 200px; height: 200px;" >
    <tr>
        <td align="center" style="font-weight:bold; font-family:verdana; font-size:14px; color:green;">
            {{provincia.provincia}}</td>
    </tr>
    <tr>
        <td align="center"> <img src="{{provincia.bandera}}" /> </td>
    </tr>
    <tr>
        <td align="center" style="font-weight:bold; font-family:verdana; font-size:12px"> Capital -
            {{provincia.capital}} </td>
    </tr>
    <tr>
        <button (click)="provinciaDetalle(provincia.provincia)" type="button"
            class="btn btn-outline-primary btn-block">Ver Mas</button>
    </tr>
</table>